<div class="flex flex-wrap justify-center items-center gap-10">

  <section class="bg-white dark:bg-black">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Welcome
        to Utibu <%= t(:health) %></h1>
      <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Fostering
        accessibility for all Kenyans, Utibu <%= t(:health) %> is
        steadfast in providing a seamless
        experience for accessing premium, secure, and budget-friendly medicine and wellness products online.</p>
      <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
        <%= link_to "Start Shopping with Utibu", root_path, class: "inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800" %>
      </div>
    </div>

  </section>
  <!--  <div class=" bg-green-600 text-center py-20 w-full background-image">-->
  <!--    <h1 class="text-5xl font-bold text-white mb-8">Welcome to Utibu <%= t(:health) %></h1>-->
  <!--    <p class="text-xl mb-8 font-semibold text-gray-300">Fostering accessibility for all Kenyans, Utibu <%= t(:health) %> is-->
  <!--      steadfast in providing a seamless-->
  <!--      experience for accessing premium, secure, and budget-friendly medicine and wellness products online.</p>-->
  <%#= link_to "Start Shopping with Utibu", root_path, class: "bg-green-500 hover:bg-green-300 font-bold py-2 px-4 rounded" %>
  <!--  </div>-->

  <!--  Categories section-->
  <% @main_categories.each do |category| %>
    <%= link_to category_path(category) do %>
      <div class="flex flex-col mb-4">
        <h2 class="font-medium text-lg text-center mb-6">
          <%= category.name %></h2>
        <%= category.image.present? ? image_tag(category.image, class: "max-w-lg rounded-full w-96 h-96") : image_tag("http://via.placeholder.com/512", class: "rounded-full w-96 h-96") %>
      </div>
    <% end %>
  <% end %>

  <!--Testimonials section-->
  <div class="dark:bg-black bg-opacity-25 py-10 my-10">
    <div class="container mx-auto px-6">
      <h2 class="text-4xl font-bold text-center my-10">Customer Testimonials</h2>
      <div class="flex flex-wrap justify-center">
        <div class="w-full md:w-1/3 px-2 mb-4">
          <div class="bg-gray-100 bg-opacity-25 rounded shadow py-4 px-4">
            <p class="text-base mb-4">
              "Utibu <%= t(:health) %> has revolutionized the way I manage my health needs. With just a few clicks, I can
              conveniently order my medications and wellness products from the comfort of my home. The app's
              user-friendly
              interface makes navigation a breeze, and their prompt delivery ensures I never have to worry about running
              out of essentials. Thank you, Utibu <%= t(:health) %>, for providing such a convenient and reliable service!"
            </p>
            <p class="text-xs">
              - Eunice Wairimu
            </p>
          </div>
        </div>
        <div class="w-full md:w-1/3 px-2 mb-4">
          <div class="bg-gray-100 bg-opacity-25 rounded shadow py-4 px-4">
            <p class="text-base mb-4">
              "Utibu <%= t(:health) %> has revolutionized the way I manage my health needs. With just a few clicks, I can
              conveniently order my medications and wellness products from the comfort of my home. The app's
              user-friendly
              interface makes navigation a breeze, and their prompt delivery ensures I never have to worry about running
              out of essentials. Thank you, Utibu <%= t(:health) %>, for providing such a convenient and reliable service!"
            </p>
            <p class="text-xs">
              - Eunice Wairimu
            </p>
          </div>
        </div>
        <div class="w-full md:w-1/3 px-2 mb-4">
          <div class="bg-gray-100 bg-opacity-25 rounded shadow py-4 px-4">
            <p class="text-base mb-4">
              "Utibu <%= t(:health) %> has revolutionized the way I manage my health needs. With just a few clicks, I can
              conveniently order my medications and wellness products from the comfort of my home. The app's
              user-friendly
              interface makes navigation a breeze, and their prompt delivery ensures I never have to worry about running
              out of essentials. Thank you, Utibu <%= t(:health) %>, for providing such a convenient and reliable service!"
            </p>
            <p class="text-xs">
              - Eunice Wairimu
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-500 text-white my-10 text-center py-20 pl-4 pr-4">
    <h2 class="text-3xl font-bold mb-6">🎉 Stay Healthy and Informed with Utibu <%= t(:health) %>! 🎉</h2>
    <p class="text-lg text-gray-700 mb-6">Sign up for our newsletter to receive exclusive offers, health tips, and
      updates
      on the latest in medicine and wellness products. Whether you're looking for expert advice on managing your health
      or
      seeking special discounts on your favorite products, our newsletter has you covered.</p>
    <!--    <div class="mb-6 text-left pl-4">-->
    <!--      <p class="text-lg text-gray-700 mb-2  ">Benefits of Subscribing:</p>-->
    <!--      <ul class="">-->
    <!--        <li class="mb-1">🔔 Early access to promotions and discounts</li>-->
    <!--        <li class="mb-1">📰 Latest health news and updates</li>-->
    <!--        <li class="mb-1">💊 Expert tips on medication management and wellness</li>-->
    <!--      </ul>-->
    <!--    </div>-->

    <%= form_with url: root_path, method: :post, local: true, class: "flex justify-center" do %>
      <%= email_field_tag :email, nil, placeholder: "Enter your email", class: "p-2 rounded-l " %>
      <%= submit_tag "Subscribe", class: "bg-gray-700 hover:bg-gray-900 cursor-pointer text-white font-bold py-2 px-4 rounded-r" %>
    <% end %>
  </div>
</div>

