<div class="w-full overflow-x-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex flex-col sm:flex-row justify-between items-center p-4 w-4/5">
    <h1 class="font-bold text-xl sm:text-2xl md:text-3xl ">Products</h1>

    <div class="flex mt-4 flex-col md:flex-row items-start md:items-center justify-between w-1/3">
      <!-- Search Form -->
      <%= form_with url: admin_products_path, method: :get, class: "flex flex-grow max-w-md mx-auto" do |form| %>
        <label for="search" class="sr-only">Search</label>
        <div class="relative flex-grow">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
          </div>
          <%= form.text_field :query, placeholder: "Search ...", id: "search", class: "block w-full pl-10 p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
          <button type="submit" class="absolute inset-y-0 right-0 flex items-center px-4 bg-purple-700 text-white rounded-r-lg hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
            </svg>
          </button>
        </div>
      <% end %>

      <!-- Clear Form -->
      <%= form_with url: admin_products_path, method: :get, class: "flex max-w-md mx-auto mt-2 md:mt-0" do |form| %>
        <input type="hidden" name="query" value=""> <!-- Clear search query -->
        <button type="submit" class="bg-purple-500 text-white hover:bg-purple-600 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">
          <svg class="w-[40px] h-[40px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z" clip-rule="evenodd"/>
          </svg>
        </button>
      <% end %>
    </div>



    <%= link_to "New product", new_admin_product_path, class: "rounded-lg py-3 px-5 bg-purple-600 text-white hover:bg-purple-700 block font-medium" %>
  </div>

  <!-- Product table start -->
  <div class="relative overflow-x-auto w-4/5">
    <table class="min-w-full divide-y overflow-x-scroll divide-purple-200 table-fixed dark:divide-purple-700">
      <thead class="bg-purple-100 dark:bg-purple-700">
      <tr>
        <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-purple-700 uppercase dark:text-purple-100">

        </th>
        <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-purple-700 uppercase dark:text-purple-100">
          Name
        </th>
        <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-purple-700 uppercase dark:text-purple-100">
          Description
        </th>
        <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-purple-700 uppercase dark:text-purple-100">
          Price
        </th>
        <th scope="col" class="p-4">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
      </thead>
      <tbody class="bg-white divide-y divide-purple-200 dark:bg-purple-800 dark:divide-purple-700">
      <% @admin_products.each do |p| %>
        <tr class="hover:bg-purple-100 dark:hover:bg-purple-700">
          <td class="py-2 px-2 text-sm font-medium text-purple-500 whitespace-nowrap dark:text-white">
            <%#= p.images.any? ? image_tag(p.images.first.variant(:thumb)) : image_tag("https://via.placeholder.com/50") %>
            <%= p.images.any? ? image_tag(p.images_as_thumbnail) : image_tag("https://via.placeholder.com/50") %>
          </td>
          <td class="py-4 px-6 text-sm font-medium text-purple-900 whitespace-nowrap dark:text-white"><%= truncate(p.name, length: 20, separator: ' ') %></td>
          <td class="py-4 px-6 text-sm font-medium text-purple-500 whitespace-nowrap dark:text-white"><%= truncate(p.description, length: 20, separator: ' ') %></td>
          <td class="py-4 px-6 text-sm font-medium text-purple-900 whitespace-nowrap dark:text-white">
            KSH. <%= number_to_currency(p.price, unit: '', separator: '.', delimeter: ',', precision: 0) %>
          </td>
          <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
            <%= link_to "Edit", edit_admin_product_path(p), class: "text-blue-600 dark:text-blue-500 hover:underline" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%# Render a view helper in your views (skipping nav links for empty pages) %>
    <div class="text-center my-4">
      <div role="navigation" aria-label="Pagination" class="pagy">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</div>
<!--  Product table end-->
