<!DOCTYPE html>
<html>
  <head>
    <title>UtibuHealth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= cookies[:theme] %>">
  <%= render "shared/navbar" %>
    <main class="container mx-auto mt-28 max-w-7xl px-2 sm:px-6 lg:px-8 flex">
      <%#= link_to 'light', set_theme_path(theme: 'light') %>
      <%#= link_to 'dark', set_theme_path(theme: 'dark') %>
      <%#= link_to 'system default', set_theme_path %>
      <%= yield %>
    </main>
  </body>
</html>
